@import 'vars';

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: $desertbone;
    color: $veryblack;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
.text-center {
    text-align: center
}