$background: #f6f7f4; // rgb(246,247,244)
$wisteriasnow: #d8dfe4; // rgb(216,223,228)
$orchidash: #d2d8e1; // rgb(210,216,225)
$desertbone: #e9e38a; // rgb(235,221,212)
/* whites */

$foreground_deep: #424449; // rgb(66,68,73)
$foreground: #525965; // rgb(82,89,101)
$bluetwilight: #919ea1; // rgb(145,158,161)
/* greys */

$primary: #ebe473; // rgb(182,100,72)
$primarydark: #ccc564; // rgb(163,89,64)
/* accent */

$touchof: teal;