.layout {
    margin: 2rem;
    padding: 2rem;
    border: solid thin #ddd;
    border-radius: 4px;
    background: #facd84;
    p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
}